#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
**/*.tfstate
**/*.tfstate.*

# .tfvars files
*.tfvars
**/*.tfvars

# .tfplan files
**/*.tfplan

# ssh keys
!ssh/README.md
ssh/

# misc
**/.task/*
**/*.log
**/*.out
**/manifest.json
.vscode/
**/azcreds.json