#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
**/*.tfstate
**/*.tfstate.*

# .tfvars files
*.tfvars
**/*.tfvars

# .tfplan files
**/*.tfplan

# ssh keys
!ssh/README.md
ssh/

#symlinked tf files
env-*/bastion/variables.tf
env-*/crsapp/variables.tf
env-*/crsreg/variables.tf
env-*/infra/variables.tf
env-*/master/variables.tf
env-*/network-crs/variables.tf
env-*/network/variables.tf
env-*/node/variables.tf
env-*/openvpn/variables-openvpn.tf
env-*/openvpn/variables.tf
modules/bastion/variables.tf
modules/crsapp/variables.tf
modules/crsreg/variables.tf
modules/infra/variables.tf
modules/master/variables.tf
modules/network-crs/variables.tf
modules/network/variables.tf
modules/node/variables.tf
modules/openvpn/variables.tf

# misc
**/.task/*
**/*.log
**/*.out
**/manifest.json
.vscode/
**/azcreds.json
packer-rhel7/rhel-7-*
packer-rhel7/packer
bin/
**/project.env
**/bootstrap/output/*

