#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
**/*.tfstate
**/*.tfstate.*

# .tfvars files
*.tfvars
**/*.tfvars

# .tfplan files
**/*.tfplan

ssh/
**/.task/*
**/*.log
**/*.out
