# these first three are primarily used for tagging, recommended to be unique across each OCP cluster deployment
project = "projectname"

environment = "dev"

env_version = "1.0"

resource_group_name = "ocpresourcegroupname"

location = "southcentralus"

images_resource_group = "vmimageresourcegroupname"

base_os_image = "rhel7base"

ocp_cidr_block = "10.0.0.0/23"

# add this to above primary subnet to divide up subnets
ocp_cidrsubnet_newbits = "1"

crs_cidr_block = "172.16.144.0/24"

# same as above, included for code completeness, should leave at 0
crs_cidrsubnet_newbits = "0"

# Don't change any of the below
network1_module_name = "network"

network2_module_name = "network-crs"

ocpmaster_module_name = "masters"

ocpinfra_module_name = "infra"

ocpnodes_module_name = "nodes"

ocpbastion_module_name = "bastion"

ocpcrs_app_module_name = "crsapp"

ocpcrs_registry_module_name = "crsregistry"

ocpopenvpn_module_name = "openvpn"

singlequote = "'"
