# Use RHN user login w/ password below or RHN org ID w/ RHN OCP product activation key below
rhn_user = "rhnlogin_or_rhnorgid"

# Use RHN user password or RHN OCP product activation key
rhn_passwd = "rhnpassword_or_ocpactivationkey"

# If using RHN user/password, set prod pool ID
# If using RHN org ID and RHN prod act key, set to "null"
rhn_poolid = "null"

# for OpenShift Container Storage Add-On subscription, enter Pool ID
ocp_storage_addon_poolid = "container-storage-add-on-pool-id"
