
  lifecycle {
    ignore_changes = ["storage_os_disk", "os_profile", "storage_data_disk"]
  }
}

resource "azurerm_virtual_machine_extension" "crsappPrep" {
  name                 = "$${var.ocpcrs_app_module_name}Prep-$${count.index}"
  location             = "$${data.azurerm_resource_group.ocp.location}"
  resource_group_name  = "$${data.azurerm_resource_group.ocp.name}"
  virtual_machine_name = "$${element(azurerm_virtual_machine.crsapp.*.name, format("%02d", count.index))}"
  publisher            = "Microsoft.Azure.Extensions"
  type                 = "CustomScript"
  type_handler_version = "2.0"
  count                = "$${var.crsapp_instance_count}"
  depends_on           = ["azurerm_virtual_machine.crsapp"]

  settings = <<SETTINGS
        {
            "fileUris": ["https://raw.githubusercontent.com/heatmiser/openshift-container-platform/release-3.9/scripts/glusterPrep_cri-o.sh"],
            "timestamp": ${TIMESTAMP}
        }
       SETTINGS

  protected_settings = <<PROTECTED_SETTINGS
           {
              "commandToExecute": "bash glusterPrep_cri-o.sh \"$${var.rhn_user}\" \"$${var.rhn_passwd}\" \"$${var.rhn_poolid}\""
           }
       PROTECTED_SETTINGS

  tags {
    environment = "$${var.project}-$${var.environment}-$${var.env_version}"
  }
}
